/* ORGANIZATION */
/* 
colors variables
base
header
main
animations
*/
/* 
element {
    - display stuff
    - positioning
    - box-model(background, width ...)
    - typography
    - manipulation(moving, blur etc...)
    - misc(border radius, box shadow)
}
*/

/* CSS */
/* colors variables--------------------------------------------------------------------------*/
:root {
    --color-primary: #ED6454;
    --color-secondary: #3282F7;
    --color-tertiary: #68D9A4;

    --background-grey: #C7BEBE;
    --background-grey--lighter: #E7E7E7;
}

/* base ---------------------------------------------------------------------------*/
* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    max-width: 1500px;
    margin: auto;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

main {
    margin: 2rem;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

summary {
    display: block;
}

strong {
    font-weight: bold;
}

.primary-color {
    background-color: var(--color-primary);
    color: white;
}

.secondary-color {
    background-color: var(--color-secondary);
    color: white;
}

.tertiary-color {
    background-color: var(--color-tertiary);
    color: white;
}

/* stylizing scrollbar firefox */
.secondary-color {
    scrollbar-color: white var(--color-secondary);
}

/* stylizing scrollbar WebKit and Chromiums : */
.secondary-color::-webkit-scrollbar {
    /* stylizing scrollbar background */
    background-color: var(--color-secondary);
}

.secondary-color::-webkit-scrollbar-thumb {
    /* stylizing scrollbar handle */
    background-color: white;
    border-radius: .5rem;
}

/* allow to hide the label of an input in an accessible way */
.hidden-label {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-family: "DM Sans", sans-serif;
    font-size: .8rem;
}

/* header ---------------------------------------------------------------------------*/
header {
    margin-top: 2rem;
}

#logo {
    height: 46px;
    width: 50px;
    margin: 0 50%;
    transform: translateX(-50%);
}

h1 {
    color: var(--color-primary);
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

/* section-sort ---------------------------------------------------------------------------*/
#main-searchbar {
    position: relative;
}

#main-searchbar input {
    background-color: var(--background-grey--lighter);
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
}

#main-searchbar button {
    position: absolute;
    top: .6rem;
    right: .6rem;
    width: 2rem;
    height: 2rem;

    cursor: default;
}

#main-searchbar button img {
    width: 1.5rem;
}

/* tags */
#tag-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.tag {
    position: relative;
    margin-right: .6rem;
    margin-bottom: .5rem;
    padding: .5rem .8rem;

    color: white;
    font-size: 13px;
    font-weight: 500;

    border-radius: 5px;
}

.tag button img {
    position: absolute;
    top: .5rem;
    right: .4rem;
    width: .8rem;
}

/* lists */
#research-selections {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.research-list {
    position: relative;
    margin-right: 1rem;
    margin-bottom: .5rem;
    padding: 1rem;

    border-radius: 5px;
    cursor: pointer;
}

.research-list:hover {
    box-shadow: 0.2rem 0.2rem 0.5rem var(--background-grey);
    transition: 300ms ease;
}

.research-list summary {
    display: flex;
    justify-content: space-between;
    height: 1rem;
    width: 8rem;

    font-weight: 500;
    text-align: center;
}

.research-list summary img {
    width: 1rem;
    transition: 300ms ease-out;
}

.research-list[open]>summary {
    width: 40rem;
}

.research-list[open]>summary img {
    transform: rotate(180deg);
    transition: 300ms ease-out;
}

.research-list-input {
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 1;

    width: 40rem;
    padding: 1rem;

    border-radius: 5px;
}

.research-list-input::placeholder {
    opacity: 0.6;
    font-weight: bold;
    color: white;
}

.research-list ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;

    position: absolute;
    top: 1.5rem;
    left: 0;

    margin-top: 1rem;
    padding: 1.25rem;
    width: 42rem;
    max-height: 23rem;

    font-weight: 500;

    border-radius: 0 0 5px 5px;
}

.research-list ul li {
    padding-bottom: .3rem;
}

.research-list ul li:hover {
    text-decoration: underline;
}

/* Section-results ---------------------------------------------------------------------------*/
#no-result-message {
    margin: 3rem;
    color: grey;
    text-align: center;
    font-size: 1em;
}

#section-results {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

figure {
    background-color: var(--background-grey);
    width: calc((100% / 3) - (100px / 3));
    height: 364px;
    border-radius: 5px;
    cursor: pointer;
}

figure:hover {
    box-shadow: 0.2rem 0.2rem 0.5rem var(--background-grey);
    transform: translate3d(-.2rem, -.2rem, 0);
    transition: 300ms ease;
}

.recipe-illustration {
    height: 50%;
}

figcaption {
    background-color: var(--background-grey--lighter);
    height: 50%;
    border-radius: 0 0 5px 5px;
    padding: 1.5rem 1rem 1rem 1rem;
}

.recipe-header {
    display: flex;
    justify-content: space-between;
}


.recipe-header h2,
.recipe-time {
    /* width: 30%; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recipe-header h2 {
    max-width: 70%;
    padding-right: .5rem;
}

.recipe-time img {
    height: .8rem;
    margin-right: .5rem;
}


.recipe-content {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.recipe-ingredients,
.recipe-instructions {
    /* for the vertical ellipsis */
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* ------------------------ */

    max-height: 7rem;

    font-size: 12px;
    line-height: 1rem;
}

.recipe-ingredients {
    width: 50%;
    padding-right: 2rem;
}

.recipe-instructions {
    width: 50%;
}