@media all and (max-width: 900px) {
    figure {
        width: calc((100% / 2) - (25px));
        height: 364px;
    }
}

@media all and (max-width: 573px) {

    main {
        margin: 1rem;
    }

    #main-searchbar {
        display: flex;
    }

    #main-searchbar input {
        width: 90%;
        border-radius: 5px 0px 0px 5px;
    }

    #main-searchbar input::placeholder {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #main-searchbar button {
        top: 0;
        right: 0;
        background-color: var(--background-grey--lighter);
        width: 10%;
        height: 3rem;
        border-radius: 0px 5px 5px 0px;
    }

    .research-list[open]>summary {
        width: 15rem;
    }

    .research-list-input {
        width: 15rem;
    }

    .research-list ul {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        width: 17rem;
    }

    #section-results {
        margin-top: 2rem;
        gap: 2rem;
    }

    figure {
        width: 100%;
    }
}